<!DOCTYPE html>
<html>

    <head>
        <title>Verificarlo report</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- BOKEH JS -->
        {{ bokeh_js }}

        <!-- BOKEH CSS -->
        {{ bokeh_css }}

        <!-- BOKEH SCRIPT -->
        {{ bokeh_script }}

    </head>

    <body>

        {% for p in plots.values() %}
        {{p}}
        {% endfor %}

</html>
