<!DOCTYPE html>
<html>

    <head>
        <title>Verificarlo Report</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% extends base %}
    </head>

    <body>
    {% block contents %}

        <h1>Verificarlo Report</h1>

        <h2>Selectors</h2>
        {{ embed(roots.select_test) }}
        {{ embed(roots.select_var) }}
        {{ embed(roots.select_backend) }}

        <h2> Plots<h2>
        {{ embed(roots.boxplot) }}
        {{ embed(roots.sigma_plot) }}
        {{ embed(roots.s_tabs) }}

    {% endblock %}
    </body>

</html>
