<!DOCTYPE html>
<html>

    <head>
        <title>Verificarlo Report</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- This template uses Bulma for CSS : https://bulma.io/ -->
        <!-- Doc : https://bulma.io/documentation/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

        <style>
            html, body{
                background-color: #f5f5f5;
            }

            #navbar {
                height: 67px;
            }

            #logo-link {
                padding: 0;
                padding-left: 16px;
            }

            #logo-img {
                object-fit: cover;
                margin-top: -18px;
                margin-left: -8px;
                max-height: 50px;
            }

            #compare-runs-container {
                margin-top: 1em;
            }

            #compare-variables-container {
                margin-top: 1em;
                display : none; /* This one is hidden by default */
            }

            .plot-card {
                width: 900px;
            }

        </style>

        {% extends base %}
    </head>


    <body>
    {% block contents %}

        <!-- HEADER -->
        <nav class="navbar has-shadow" id="navbar"
        role="navigation" aria-label="navbar-content">

            <!-- BRAND (left part) -->
            <div class="navbar-brand">
                <a class="navbar-item" id="logo-link" href=".">
                    <img id="logo-img" width="85" height="45"
                    src="https://avatars1.githubusercontent.com/u/12033642">
                </a>

                <a role="button" class="navbar-burger" id="navbar-burger"
                aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <!-- MENU (content) -->
            <div id="navbar-content" class="navbar-menu">

                <div class="navbar-start">
                    <a class="navbar-item is-active" id="compare-runs-button">
                        Compare runs
                    </a>

                    <a class="navbar-item" id="compare-variables-button">
                        [WIP] Compare variables
                    </a>
                </div>

                <div class="navbar-end">
                    {% if git_repo_linked %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="{{repo_url}}" target="_blank">
                                {{repo_name}} on {{git_host}}
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light"
                            href="https://github.com/verificarlo" target="_blank">
                                Verificarlo on GitHub
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>


        <!-- CONTENT : COMPARE RUNS -->
        <main class="container" id="compare-runs-container">
            <div class="columns">

                <!-- SELECTORS -->
                <div class="column">
                    <h4 class="title is-4">Selectors<h2>
                    <div>
                        {{ embed(roots.test_filter) }}
                        {{ embed(roots.select_test) }}
                        <br>
                        {{ embed(roots.var_filter) }}
                        {{ embed(roots.select_var) }}
                        <br>
                        {{ embed(roots.select_backend) }}
                        <br>
                        <br>
                        {{ embed(roots.select_n_runs) }}
                    </div>

                </div>

                <div class="is-divider-vertical"></div>


                <!-- PLOTS -->
                <div class="column is-9">
                    <h3 class="title is-3">Plots<h2>
                    <div class="container">
                        <div class="card plot-card">
                            {{ embed(roots.boxplot) }}
                        </div>

                        <br>

                        <div class="card plot-card">
                            {{ embed(roots.sigma_plot) }}
                        </div>

                        <br>

                        <div class="card plot-card">
                            {{ embed(roots.s_tabs) }}
                        </div>
                    </div>
                </div>

            </div>
        </main>


        <!-- CONTENT : COMPARE VARIABLES -->
        <main class="container" id="compare-variables-container">
            <div class="columns">

                <!-- SELECTORS -->
                <div class="column">
                    <h4 class="title is-4">Selectors<h2>
                        {{ embed(roots.foo) }}
                </div>


                <!-- PLOTS -->
                <div class="column is-9">
                    <h3 class="title is-3">Plots<h2>
                    <div class="container">
                    </div>
                </div>
        </main>


        <script>

            // Listen to clicks on breadcrumb (for responsive header)
            document.getElementById("navbar-burger")
            .addEventListener("click", () => {

                document.getElementById("navbar-burger")
                .classList.toggle("is-active");

                document.getElementById("navbar-content")
                .classList.toggle("is-active");
                
            })


            // Listen to clicks on "Compare runs" button
            document.getElementById("compare-runs-button")
            .addEventListener("click", () => {

                document.getElementById("compare-variables-container")
                .style.display = "none";

                document.getElementById("compare-variables-button")
                .classList.toggle("is-active");


                document.getElementById("compare-runs-container")
                .style.display = "block";

                document.getElementById("compare-runs-button")
                .classList.toggle("is-active");

            });


            // Listen to clicks on "Compare variables" button
            document.getElementById("compare-variables-button")
            .addEventListener("click", () => {

                document.getElementById("compare-runs-container")
                .style.display = "none";

                document.getElementById("compare-runs-button")
                .classList.toggle("is-active");


                document.getElementById("compare-variables-container")
                .style.display = "block";

                document.getElementById("compare-variables-button")
                .classList.toggle("is-active");

            });

        </script>

    {% endblock %}
    </body>

</html>
